---
eleventyExcludeFromCollections: true
layout: default
pagination:
  data: userTags
  resolve: values
  size: 1
  alias: tag
permalink: "/tags/{{ tag.name }}/collections.html"
---
<main>
  <h1><a href="/tags/{{ tag.name }}">Tag: {{ tag.name }}</a></h1>
  <h2>Collections</h2>
  <ul>
    {% for collection in tag.userCollections %}
      <li>
         {% collectionSummary collection, 4 %}
      </li>
    {% endfor %}
  </ul>
</main>
