---
eleventyExcludeFromCollections: true
layout: default
pagination:
  data: userTags
  resolve: values
  size: 1
  alias: tag
permalink: "/tags/{{ tag.name }}/discussions.html"
---
<main>
  <h1><a href="/tags/{{ tag.name }}">Tag: {{ tag.name }}</a></h1>
  <h2>Discussions</h2>
  {% featuredDiscussions tag.discussions | mapKeys(discussions) %}
</main>
