---
eleventyExcludeFromCollections: true
layout: default
pagination:
  data: userTags
  resolve: values
  size: 1
  alias: tag
permalink: "/tags/{{ tag.name }}/"
eleventyComputed:
  title: "Tag: {{ tag.name }}"
  description: "Content tagged with #{{ tag.name }} on {{ project.display_name }}."
  ogImage: "{{ subjects[tag.subjects[0]].location.standard }}"
---
<main class="page-grid">
  <h1>Tag: {{ tag.name }}</h1>
  <div>
    <h2><a href="/tags/{{ tag.name }}/discussions.html">Discussions</a> ({{ tag.discussions.length }})</h2>
    {% featuredDiscussions tag.discussions | limit(2) | mapKeys(discussions) %}
  </div>
  <div>
    <h2><a href="/tags/{{ tag.name }}/subjects.html">Subjects</a> ({{ tag.subjects.length }})</h2>
    <ul class="collection">
      {% for subject in tag.subjects | limit(6) | mapKeys(subjects) %}
        <li class="subject">
          <a href="/subjects/{{ subject.zooniverse_id }}">
            {% subjectImage subject, 'thumb' %}
          </a> 
        </li>
      {% endfor %}
    </ul>

    <h2><a href="/tags/{{ tag.name }}/collections.html">Collections</a> ({{ tag.userCollections.length }})</h2>
    <ul>
      {% for collection in tag.userCollections | limit(6) | mapKeys(userCollections) %}
        <li>
          <p><a href="/collections/{{ collection.zooniverse_id }}">{{ collection.zooniverse_id }} {{ collection.title }}</a></p>
          <ul class="collection">
            {%- for collectionSubject in collection.subjects | limit(4) -%}
              <li class="subject">
                <a href="/subjects/{{ collectionSubject.zooniverse_id }}">
                  {% subjectImage collectionSubject, 'thumb' %}
                </a>
              </li>
            {%- endfor -%}
          </ul>
        </li>
      {% endfor %}
    </ul>
  </div>
</main>
