---
eleventyExcludeFromCollections: true
layout: default
pagination:
  data: subjects
  resolve: values
  size: 1
  alias: subject
permalink: "/subjects/{{ subject.zooniverse_id }}/collections.html"
eleventyComputed:
  title: "Subject {{ subject.zooniverse_id }}: Collections"
  description: "Collections that include subject {{ subject.zooniverse_id }} from {{ project.display_name }}."
  ogImage: "{{ subject.location.thumb }}"
---
<div class="page-grid">
  <aside class=" focus">
    <h1>
      <a href="/subjects/{{ subject.zooniverse_id }}">Subject: {{ subject.zooniverse_id }}</a>
    </h1>
    <img class="subject" src={{ subject.location.standard }} >

    <h2>Comments</h2>
    <ul>
    {%- for comment in subject.discussion.comments | reverse -%}
    <li id={{ comment._id }} class="comment">
      <p>
        <a href="/users/{{ comment.user_name }}">
          {% avatar comment.user_name, users[comment.user_id].avatar_url %}
        </a>
        by
        <a href="/users/{{ comment.user_name }}">
          {{ comment.user_name }}
        </a>
        {% if comment.response_to %}
          <a href="#{{ comment.response_to._id }}">in response to {{ comment.response_to.user_name}}'s comment.</a>
        {% endif %}
      </p>

      {%- markdown -%}
        {{ comment.body | safe }}
      {%- endmarkdown -%}

        <p>Posted <time datetime={{ comment.created_at }}>{{ comment.created_at | date }}</time></p>
    </li>
    {%- endfor -%}
    </ul>
  </aside>

  <main>
    <h2>Collections</h2>
    <ul>
      {%- for collection in subject.collections -%}
        <li>
          <p><a href="/collections/{{ collection.zooniverse_id }}">{{ collection.user_name }}: {{ collection.title }}</a></p>
          <ul class="collection">
            {%- for collectionSubject in collection.subjects | limit(4) -%}
              <li class="subject">
                <a href="/subjects/{{ collectionSubject.zooniverse_id }}">
                  <img alt="Subject {{ collectionSubject.zooniverse_id }}" src={{ collectionSubject.location.thumb}}>
                </a>
              </li>
            {%- endfor -%}
          </ul>
        </li>
      {%- endfor -%}
    </ul>
  </main>
</div>
