---
eleventyExcludeFromCollections: true
layout: default
pagination:
  data: subjectURLs
  size: 1
  alias: subjectURL
permalink: "/{{ subjectURL }}/"
---
<div class="page-grid subject-page-grid">
  <main class="focus">
    <h1>Subject: {{ subject.zooniverse_id }}</h1>
    <p class="subject">
      {% subjectImage subject, 'standard' %}
      <a href="/api/subjects/{{ subject.zooniverse_id }}.json">
        Full subject data (<abbr title="JavaScript Object Notation">JSON</abbr>)
      </a>
    </p>
    <h2>Comments</h2>
    <ul>
    {%- for comment in subject.discussion.comments | reverse -%}
      {% discussionComment comment=comment %}
    {%- endfor -%}
    </ul>
  </main>

  <aside>
    <div class="split-column">
      <div>
        <h2>Tags</h2>
        <ul class="tag-list">
          {% for tag in subject.tags %}
            <li><a href="/tags/{{ tag._id or tag }}">{{ tag._id or tag }}</a></li>
          {% endfor %}
        </ul>
      </div>
      <div>
        <h2><a href="./collections.html">Collections</a></h2>
        <ul>
          {%- for collection in subject.collections | limit(3) -%}
            <li>
              {% collectionSummary collection, 3, 'grid-cols-3' %}
            </li>
          {%- endfor -%}
        </ul>
      </div>
    </div>

    <h2>Board Discussions</h2>
    {% for category, categoryDiscussions in subject.zooniverse_id | boardDiscussions %}
      <h3>{{ category | capitalize }}</h3>
      {% featuredDiscussions categoryDiscussions %}
    {% endfor %}
  </aside>
</div>
