---
eleventyExcludeFromCollections: true
pagination:
  data: discussions
  resolve: values
  size: 1
  alias: discussion
permalink: "/api/discussions/{{ discussion.zooniverse_id}}.json"
---
{{ discussion | dump | safe }}
