---
eleventyExcludeFromCollections: true
layout: default
pagination:
  data: users
  resolve: values
  size: 1
  alias: user
permalink: "/users/{{ user.name | slug }}/collections.html"
eleventyComputed:
  title: "Profile: {{ user.name }}: collections"
---
<main>
  <h1><a href="/users/{{ user.name | slug }}">Profile: {{ user.name }}</a></h1>
  <h2>Collections ({{ user.my_collections.length }})</h2>
  <ul>
  {%- for collection in user.my_collections -%}
    <li>
       {% collectionSummary collection, 4 %}
    </li>
  {%- endfor -%}
  </ul>
</main>
