---
eleventyExcludeFromCollections: true
layout: default
pagination:
  data: users
  resolve: values
  size: 1
  alias: user
permalink: "/users/{{ user.name | slug }}/comments.html"
eleventyComputed:
  title: "Profile: {{ user.name }}: comments"
  description: "Subject comments by {{ user.name }} on {{ project.display_name }}."
  ogImage: "{{ user.subjects[0].focus.location.standard }}"
---
<main>
  <h1><a href="/users/{{ user.name | slug }}">Profile: {{ user.name }}</a></h1>
  <h2>Subject comments ({{ user.subjects.length }})</h2>
  <ul class="comments-list">
  {%- for subject in user.subjects -%}
    <li id={{ subject.focus.zooniverse_id }}>
      <a href="/subjects/{{ subject.focus.zooniverse_id }}">
        {% subjectImage subject.focus, 'thumb' %}
      </a>
      <p>
        {%- markdown -%}
          {{ subject.comment.body }}
        {%- endmarkdown -%}
      </p>
      <time datetime={{ subject.comment.created_at }}>{{ subject.comment.created_at | date }}</time>
    </li>
  {%- endfor -%}
  </ul>
</main>
