---
eleventyExcludeFromCollections: true
layout: default
pagination:
  data: users
  resolve: values
  size: 1
  alias: user
permalink: "/users/{{ user.name | slug }}/comments.html"
---
<main>
  <h1><a href="/users/{{ user.name | slug }}">Profile: {{ user.name }}</a></h1>
  <h2>Subject comments ({{ user.subjects.length }})</h2>
  {% subjectCommentsList subjects=user.subjects  %}
</main>
