---
layout: default
pagination:
  data: users
  resolve: values
  size: 1
  alias: user
permalink: "/users/{{ user.name }}/"
renderData:
  title: "{{ user.name }}"
---
<h1 class="text-lg">{{ user.name }}</h1>

<h2>Collections</h2>
<ul>
{%- for collection in user.my_collections -%}
  <li>
    <p><a href="/collections/{{ collection.zooniverse_id }}">{{ collection.zooniverse_id }} {{ collection.title }}</a></p>
    <ul class="collection">
      {%- for subject in collection.subjects | limit(4) -%}
        <li id={{ subject.zooniverse_id }} class="subject">
          <a href="/subjects/{{ subject.zooniverse_id }}"><img width=50 src={{ subject.location.thumb}}></a> 
        </li>
      {%- endfor -%}
    </ul>
  </li>
{%- endfor -%}
</ul>