---
eleventyExcludeFromCollections: true
layout: default
pagination:
  data: users
  resolve: values
  size: 1
  alias: user
permalink: "/users/{{ user.name | slug }}/"
eleventyComputed:
  title: "Profile: {{ user.name }}"
---
<main class="page-grid">
  <h1>Profile: {{ user.name }}</h1>
  <div>
    <h2>Discussions</h2>
    <ul class="discussion-list">
    {% for discussion in user.boards %}
      <li>
        <p>
          <a href="/boards/{{ discussion.board._id }}/discussions/{{ discussion.zooniverse_id }}/#{{ discussion.comment._id }}">
            {{ discussion.title }}
          </a>
        </p>
        <p>
          Posted in
          <a href="/boards/{{ discussion.board._id }}">{{ discussion.focus.name }}</a>
          <time datetime={{ discussion.comment.created_at }}>{{ discussion.comment.created_at | date }}</time>
        </p>
      </li>
    {% endfor %}
    </ul>
  </div>
  <div>
    <h2><a href="./comments.html">Subject comments ({{ user.subjects.length }})</a></h2>
    <ul class="comments-list">
    {%- for subject in user.subjects | limit(5) -%}
      <li id={{ subject.focus.zooniverse_id }}>
        <a href="/subjects/{{ subject.focus.zooniverse_id }}">
          {% subjectImage subject.focus, 'thumb' %}
        </a>
        <p>
          {%- markdown -%}
            {{ subject.comment.body }}
          {%- endmarkdown -%}
        </p>
        <time datetime={{ subject.comment.created_at }}>{{ subject.comment.created_at | date }}</time>
      </li>
    {%- endfor -%}
    </ul>

    <h2><a href="./collections.html">Collections ({{ user.my_collections.length }})</a></h2>
    <ul>
    {%- for collection in user.my_collections | limit(3) -%}
      <li>
         {% collectionSummary collection, 4 %}
      </li>
    {%- endfor -%}
    </ul>
  </div>
</main>
