<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="{% webpackAsset 'main.css' %}">
    <title>{{ renderData.title or title }}</title>
    <meta name="description" content="{{ renderData.description or description }}">
  </head>
  <body>
    <div class="container mt-8 mb-8">
      <h1 class="text-5xl">Science Gossip</h1>
    </div>
    {{ content | safe }}
    <script src="{% webpackAsset 'main.js' %}"></script>
  </body>
</html>
