---
layout: default
pagination:
  data: collections.taggedContent
  size: 1
  alias: tag
permalink: "/tags/{{ tag }}/discussions.html"
renderData:
  title: "{{ tag }}"
---
<h1><a href="/tags/{{ tag }}">Tag: {{ tag }}</a></h1>
<h2>Discussions</h2>
{% featuredDiscussions collections.taggedContent[tag].discussions %}
