---
layout: default
pagination:
  data: collections.taggedContent
  size: 1
  alias: tag
permalink: "/tags/{{ tag }}/"
renderData:
  title: "{{ tag }}"
---
<h1>Tag: {{ tag }}</h1>
<h2><a href="/tags/{{ tag }}/subjects.html">Subjects</a></h2>
<ul class="collection">
  {% for subject in collections.taggedContent[tag].subjects | limit(6) %}
    <li id={{ subject.zooniverse_id }} class="subject">
      <a href="/subjects/{{ subject.zooniverse_id }}"><img src={{ subject.location.thumb}}></a> 
    </li>
  {% endfor %}
</ul>
