---
layout: default
pagination:
  data: boards.help
  resolve: values
  size: 1
  alias: board
permalink: "/boards/{{ board.zooniverse_id }}/"
renderData:
  title: "{{ board.title }}"
  description: "{{ board.description }}"
---
<h1>Help Board</h1>
<div class="page-grid">
  <div>
    <h2>Featured help discussions</h2>
    {%- featuredDiscussions board.featured | featured(board.zooniverse_id) -%}

    <h2>Popular hashtags</h2>
    {%- tags board.tags -%}
  </div>
  <div>
    <h2>{{ board.title }}</h2>
    <p>{{ board.description }}</p>
    <p>{{ board.links.discussions.length }} conversations</p>

    <ul>
    {% for discussion in board.featured | pinned(board.zooniverse_id) %}
      <li>
        <p class="pinned-discussion">
          <a href="./discussions/{{ discussion.zooniverse_id }}">{{ discussion.title }}</a>
        </p>
        <p>{{ discussion.comments }} posts / {{ discussion.users }} participants</p>
        <p>Last post {{ discussion.last_comment.created_at | date }} by {{ discussion.last_comment.user_name }}</p>
      </li>
    {% endfor %}
    </ul>

    <ul class="container">
      {%- for discussionID in board.links.discussions | notFeatured(board.featured) -%}
        <li>
          <p><a href="./discussions/{{ discussions[discussionID].zooniverse_id }}">{{ discussions[discussionID].title }}</a></p>
          <p>{{ discussions[discussionID].comments.length }} posts / {{ discussions[discussionID].users }} participants</p>
          <p>Last post {{ discussions[discussionID].last_comment.created_at | date }} by {{ discussions[discussionID].last_comment.user_name }}</p>
          <hr>
        </li>
      {%- endfor -%}
    </ul>
  </div>
</div>