---
title: Discussion boards
layout: default
---
<div class="page-grid">
  <main>
    <h1>Discussion Boards</h1>
    <ul>
      <li>
        <h2>Help</h2>
        <ul class="discussion-list">
          {% for boardID, board in boards.help %}
            <li>
              <p><a href="./{{ boardID }}">{{ board.title }}</a></p>
              <p>{{ board.description }}</p>
            </li>
          {% endfor %}
        </ul>
      </li>
      <li>
        <h2>Research</h2>
        <ul class="discussion-list">
          {% for boardID, board in boards.science %}
            <li>
              <p><a href="./{{ boardID }}">{{ board.title }}</a></p>
              <p>{{ board.description }}</p>
            </li>
          {% endfor %}
        </ul>
      </li>
      <li>
        <h2>Chat</h2>
        <ul class="discussion-list">
          {% for boardID, board in boards.chat %}
            <li>
              <p><a href="./{{ boardID }}">{{ board.title }}</a></p>
              <p>{{ board.description }}</p>
            </li>
          {% endfor %}
        </ul>
      </li>
    </ul>
  </main>
  <aside>
    <h2>Featured discussions</h2>
    {%- featuredDiscussions boards.featured -%}

    <h2>Popular hashtags</h2>
    {%- tags boards.tags -%}
  </aside>
</div>
