---
layout: default
pagination:
  data: boards.science
  resolve: values
  size: 1
  alias: board
permalink: "/boards/{{ board.zooniverse_id }}/"
eleventyComputed:
  title: "{{ board.title }}"
  description: "{{ board.description }}"
---
<div class="page-grid">
  <nav><a href="/boards">Discussion boards</a>: Research</nav>
  <main>
    <h1>{{ board.title }}</h1>
    <p>{{ board.description }}</p>
    <p class="mb-8">{{ board.links.discussions.length }} conversations</p>

    <ul class="discussion-list">
    {% for discussion in board.featured | pinned(board.zooniverse_id) %}
      <li>
        <p class="pinned-discussion">
          <a href="./discussions/{{ discussion.zooniverse_id }}">{{ discussion.title }}</a>
        </p>
        <p>{{ discussion.comments }} posts / {{ discussion.users }} participants</p>
        <p>Last post {{ discussion.last_comment.created_at | date }} by {{ discussion.last_comment.user_name }}</p>
      </li>
    {% endfor %}

    {%- for discussionID in board.links.discussions | notFeatured(board.featured) -%}
      <li>
        <p><a href="./discussions/{{ discussions[discussionID].zooniverse_id }}">{{ discussions[discussionID].title }}</a></p>
        <p>{{ discussions[discussionID].comments.length }} posts / {{ discussions[discussionID].users }} participants</p>
        <p>Last post {{ discussions[discussionID].last_comment.created_at | date }} by {{ discussions[discussionID].last_comment.user_name }}</p>
      </li>
    {%- endfor -%}
    </ul>
  </main>
  <aside>
    <h2>Featured research discussions</h2>
    {%- featuredDiscussions board.featured | featured(board.zooniverse_id) -%}

    <h2>Popular hashtags</h2>
    {%- tags board.tags -%}
  </aside>
</div>