---
layout: default
pagination:
  data: boards.science
  resolve: values
  size: 1
  alias: board
permalink: "/boards/{{ board.zooniverse_id }}/"
renderData:
  title: "{{ board.title }}"
  description: "{{ board.description }}"
---
<h1>{{ board.title }}</h1>
<p>{{ board.description }}</p>
<p>{{ board.links.discussions.length }} conversations</p>

<ul class="container">
  {%- for discussionID in board.links.discussions -%}
    <li>
      <p><a href="./discussions/{{ discussions[discussionID].zooniverse_id }}">{{ discussions[discussionID].title }}</a></p>
      <p>{{ discussions[discussionID].comments.length }} posts / {{ discussions[discussionID].users }} participants</p>
      <p>Last post {{ discussions[discussionID].last_comment.created_at | date }} by {{ discussions[discussionID].last_comment.user_name }}</p>
      <hr>
    </li>
  {%- endfor -%}
</ul>