---
eleventyExcludeFromCollections: true
pagination:
  data: subjects
  resolve: values
  size: 1
  alias: subject
permalink: "/api/subjects/{{ subject.zooniverse_id }}.json"
---
{{ subject | dump | safe }}
