---
layout: default
pagination:
  data: subjects
  resolve: values
  size: 1
  alias: subject
permalink: "/subjects/{{ subject.zooniverse_id }}/"
renderData:
  title: "Subject {{ subject.zooniverse_id }}"
  description: "Subject {{ subject.zooniverse_id }} from Science Gossip."
  ogImage: "{{ subject.location.thumb }}"
---
<div class="page-grid">
  <div class=" focus container">
    <h1>{{ subject.zooniverse_id }}</h1>
    <img class="subject" alt="{{ subject.zooniverse_id }}" src={{ subject.location.standard }} >

    <h2>Comments</h2>
    <ul>
    {%- for comment in subject.discussion.comments | reverse -%}
    <li id={{ comment._id }} class="comment">
      <p>
        <a href="/users/{{ comment.user_name }}">
          {% avatar comment.user_name, users[comment.user_zooniverse_id].avatar_url %}
        </a>
        by
        <a href="/users/{{ comment.user_name }}">
          {{ comment.user_name }}
        </a>
        {% if comment.response_to %}
          <a href="#{{ comment.response_to._id }}">in response to {{ comment.response_to.user_name}}'s comment.</a>
        {% endif %}
      </p>

      {%- markdown -%}
        {{ comment.body | safe }}
      {%- endmarkdown -%}

        <p>Posted <time datetime={{ comment.created_at }}>{{ comment.created_at | date }}</time></p>
    </li>
    {%- endfor -%}
    </ul>
  </div>

  <div>
    <h2>Tags</h2>
    <ul class="tag-list">
      {% for tag in subject.tags %}
        <li><a href="/tags/{{ tag._id}}">{{ tag._id }}</a></li>
      {% endfor %}
    </ul>

    <h2><a href="./collections.html">Collections</a></h2>
    <ul>
      {%- for collection in subject.collections | limit(3) -%}
        <li>
          <p><a href="/collections/{{ collection.zooniverse_id }}">{{ collection.user_name }}: {{ collection.title }}</a></p>
          <ul class="collection">
            {%- for collectionSubject in collection.subjects | limit(4) -%}
              <li class="subject">
                <a href="/subjects/{{ collectionSubject.zooniverse_id }}">
                  <img alt="Subject {{ collectionSubject.zooniverse_id }}" src={{ collectionSubject.location.thumb}}>
                </a>
              </li>
            {%- endfor -%}
          </ul>
        </li>
      {%- endfor -%}
    </ul>

    <h2>Board Discussions</h2>
    {% for category, categoryDiscussions in discussions | focus(subject.zooniverse_id) %}
      <h3>{{ category | capitalize }}</h3>
      <ul>
        {% for discussion in categoryDiscussions %}
          <li>
            <p><a href="/boards/{{ discussion.board._id }}/discussions/{{ discussion.zooniverse_id}}/">{{ discussion.title }}</a></p>
            <p>{{ discussion.comments.length }} posts / {{ discussion.users }} participants</p>
            <p>
              Last post
              <time datetime={{ discussion.last_comment.created_at }}>
                {{ discussion.last_comment.created_at | date }}
              </time>
              by
              {{ discussion.last_comment.user_name }}
            </p>
          </li>
        {% endfor  %}
      </ul>
    {% endfor %}
  </div>
</div>
