---
layout: default
pagination:
  data: subjects
  resolve: values
  size: 1
  alias: subject
permalink: "/subjects/{{ subject.zooniverse_id }}/"
renderData:
  title: "Subject {{ subject.zooniverse_id }}"
---
<h1 class="text-lg">{{ subject.zooniverse_id }}</h1>

<div class="container">
  <img class="subject" src={{ subject.location.standard }} >

  <h2>Comments</h2>
  <ul>
  {%- for comment in subject.discussion.comments -%}
  <li id={{ comment._id }} class="comment">
    <a href="/users/{{ comment.user_name }}">
      <img width=20 height=20 src="https://api.zooniverse.org/talk/avatars/{{ comment.user_zooniverse_id }}" class="avatar" onerror="window.defaultAvatar(this)"></a> by <a href="/users/{{ comment.user_name }}">{{ comment.user_name }}
      </a> 
      {% if comment.response_to %}
        <a href="#{{ comment.response_to._id }}">in response to {{ comment.response_to.user_name}}'s comment.</a>
      {% endif %}

      {{ comment.body | safe }}

      Posted <time datetime={{ comment.created_at }}>{{ comment.created_at | date }}</time>
  </li>
  {%- endfor -%}
  </ul>
  <h2>Collections</h2>
  <ul>
    {%- for collection in subject.collections -%}
      <li>
        <p><a href="/collections/{{ collection.zooniverse_id }}">{{ collection.zooniverse_id }} {{ collection.title }}</a></p>
        <ul class="collection">
          {%- for collectionSubject in collection.subjects | limit(4) -%}
            <li id={{ collectionSubject.zooniverse_id }} class="subject">
              <a href="/subjects/{{ collectionSubject.zooniverse_id }}">
                <img width=50 src={{ collectionSubject.location.thumb}}>
              </a>
            </li>
          {%- endfor -%}
        </ul>
      </li>
    {%- endfor -%}
  </ul>
</div>