---
eleventyExcludeFromCollections: true
layout: default
pagination:
  data: subjects
  resolve: values
  size: 1
  alias: subject
permalink: "/subjects/{{ subject.zooniverse_id }}/collections.html"
---
<div class="page-grid">
  <aside class=" focus">
    <h1>
      <a href="/subjects/{{ subject.zooniverse_id }}">Subject: {{ subject.zooniverse_id }}</a>
    </h1>

    {% subjectImage subject, 'standard', 'subject' %}

    <h2>Comments</h2>
    <ul>
    {%- for comment in subject.discussion.comments | reverse -%}
      {% discussionComment comment=comment %}
    {%- endfor -%}
    </ul>
  </aside>

  <main>
    <h2>Collections</h2>
    <ul>
      {%- for collection in subject.collections -%}
        <li>
           {% collectionSummary collection, 4 %}
        </li>
      {%- endfor -%}
    </ul>
  </main>
</div>
