/* purgecss start ignore */
@tailwind base;

html {
  @apply font-body text-sm;
}

h1 {
  @apply text-2xl;
}

h2 {
  @apply text-xl;
}

h3 {
  @apply text-lg;
}

a {
  @apply text-blue-700 underline;
}

li {
  @apply ml-8;
}

p {
  @apply mb-2;
}

@tailwind components;
/* purgecss end ignore */

/* Your custom CSS comes right here */
.page-grid {
  @apply grid gap-2;
  grid-template-columns: 1fr 2fr;
}

.collection {
  @apply grid gap-3 grid-cols-6 grid-flow-row;
}

.collection li {
  @apply grid ml-0;
  place-items: center;
}

.collection li img {
  max-height: 8rem;
  max-width: 8rem;
}

.comments-list {
  @apply grid gap-1 grid-cols-5 grid-flow-row;
}

.comments-list img {
  max-height: 10rem;
  max-width: 10rem;
}

.comment {
  @apply mb-4 border-b;
}

.focus img {
  @apply max-w-sm;
}

.subject {
  @apply max-w-sm
}

.pinned-discussion:before {
  content: "\1f4cc";
}

.tag-list {
  @apply grid grid-cols-3 grid-flow-row;
}
@tailwind utilities;
