/* purgecss start ignore */
@tailwind base;

html {
  @apply font-body text-sm leading-snug text-dark-5;
}

h1 {
  @apply text-xl;
}

h2 {
  @apply text-lg uppercase font-semibold leading-tight;
}

h3 {
  @apply text-base uppercase font-semibold leading-tight;
}

a {
  @apply text-brand underline;
}

li {
  @apply ml-8;
}

p {
  @apply mb-2;
}

@tailwind components;
/* purgecss end ignore */

/* Your custom CSS comes right here */
header {
  align-items: center;
  background: #000;
  @apply font-bold text-base px-2 py-4;
}

header svg {
  color: #b2b2b2;
  @apply inline-block mx-2 my-1;
}

header a {
  color: #b2b2b2;
  @apply mx-2 my-1;
}
.page-grid {
  @apply grid gap-2;
  grid-template-columns: 1fr 2fr;
}

.collection {
  @apply grid gap-3 grid-cols-6 grid-flow-row;
}

.collection li {
  @apply grid ml-0;
  place-items: center;
}

.collection li img {
  max-height: 8rem;
  max-width: 8rem;
}

.comments-list {
  @apply grid gap-1 grid-cols-5 grid-flow-row;
}

.comments-list img {
  max-height: 10rem;
  max-width: 10rem;
}

.comment {
  @apply mb-4 border-b;
}

.focus img {
  @apply max-w-sm;
}

.subject {
  @apply max-w-sm
}

.pinned-discussion:before {
  content: "\1f4cc";
}

.tag-list {
  @apply grid grid-cols-3 grid-flow-row;
}
@tailwind utilities;
