---
pagination:
  data: discussions
  resolve: values
  size: 1
  alias: discussion
permalink: "/api/boards/{{ discussion.board._id }}/discussions/{{ discussion.zooniverse_id}}.json"
---
{{ discussion | dump | safe }}
