---
eleventyExcludeFromCollections: true
pagination:
  data: boards.science
  resolve: values
  size: 1
  alias: board
permalink: "/boards/{{ board.zooniverse_id }}.json"
---
{{ board | dump | safe }}
