---
eleventyExcludeFromCollections: true
pagination:
  data: boards.chat
  resolve: values
  size: 1
  alias: board
permalink: "/api/boards/{{ board.zooniverse_id }}.json"
---
{{ board | dump | safe }}
